In [1]:
import pandas as pd
import numpy as np
import re
import ast
from dateutil import parser
import os

!ls -lA /content/
from google.colab import drive
drive.mount ('/content/gdrive')
!ls -lA /content/gdrive

total 12
drwxr-xr-x 4 root root 4096 Aug 27 13:23 .config
drwx------ 5 root root 4096 Aug 30 06:27 gdrive
drwxr-xr-x 1 root root 4096 Aug 27 13:23 sample_data
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
total 16
dr-x------ 2 root root 4096 Aug 30 06:27 .file-revisions-by-id
drwx------ 9 root root 4096 Aug 30 06:27 MyDrive
dr-x------ 2 root root 4096 Aug 30 06:27 .shortcut-targets-by-id
drwx------ 5 root root 4096 Aug 30 06:27 .Trash-0

In [2]:
os.chdir('/content/gdrive/MyDrive/Group 2 - Week4/')
url1= ("disney_movies_dataset.csv")
df1 = pd.read_csv (url1)

url2= ('disney_genre.csv')
df2= pd.read_csv (url2)

In [3]:
df2

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

In [4]:
df2.rename(columns={'movie_title': 'title'}, inplace=True)
df2

,title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

In [5]:
# merger
df = pd.merge(df1, df2, on=['title'], how='inner')
df

,Unnamed: 0,title,Production company,Release date,Running time,Country,Language,Running time (int),Budget (float),Box office (float),...,Screenplay by,Production companies,Adaptation by,Traditional,Simplified,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,1,Snow White and the Seven Dwarfs,Walt Disney Productions,"['December 21, 1937 ( Carthay Circle Theatre ,...",83 minutes,United States,English,83.0,1490000.0,4.180000e+08,...,NaN,NaN,NaN,NaN,NaN,1937-12-21,Musical,G,184925485,5228953251
1,2,Pinocchio,Walt Disney Productions,"['February 7, 1940 ( Center Theatre )', 'Febru...",88 minutes,United States,English,88.0,2600000.0,1.640000e+08,...,NaN,NaN,NaN,NaN,NaN,1940-02-09,Adventure,G,84300000,2188229052
2,3,Fantasia,Walt Disney Productions,"['November 13, 1940']",126 minutes,United States,English,126.0,2280000.0,8.330000e+07,...,NaN,NaN,NaN,NaN,NaN,1940-11-13,Musical,G,83320000,2187090808
3,11,Song of the South,Walt Disney Productions,"['November 12, 1946 (Premiere: Atlanta, Georgi...",94 minutes,United States,English,94.0,2125000.0,6.500000e+07,...,"['Live action:', 'Morton Grant', 'Maurice Rapf...",NaN,NaN,NaN,NaN,1946-11-12,Adventure,G,65000000,1078510579
4,16,Cinderella,Walt Disney Productions,"['February 15, 1950 (Boston)', 'March 4, 1950 ...",74 minutes,United States,English,74.0,2900000.0,2.636000e+08,...,NaN,NaN,NaN,NaN,NaN,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,384,Alice Through the Looking Glass,"['Walt Disney Pictures', 'Roth Films', 'Team T...","['May 10, 2016 ( London )', 'May 27, 2016 (Uni...",113 minutes,United States,English,113.0,170000000.0,3.000000e+08,...,NaN,NaN,NaN,NaN,NaN,2016-05-27,Adventure,PG,77042381,77042381
229,385,Finding Dory,"['Walt Disney Pictures', 'Pixar Animation Stud...","['June 8, 2016 ( El Capitan Theatre )', 'June ...",97 minutes,United States,English,97.0,175000000.0,1.029000e+09,...,"['Andrew Stanton', 'Victoria Strouse']",NaN,NaN,NaN,NaN,2016-06-17,Adventure,PG,486295561,486295561
230,386,The BFG,NaN,"['May 14, 2016 ( Cannes )', 'July 1, 2016 (Uni...",117 minutes,United States,English,117.0,140000000.0,1.952000e+08,...,Melissa Mathison,"['Walt Disney Pictures', 'Amblin Entertainment...",NaN,NaN,NaN,2016-07-01,Adventure,PG,55483770,55483770
231,388,Queen of Katwe,NaN,"['September 10, 2016 ( TIFF )', 'September 23,...",124 minutes,United States,"['English', 'Luganda']",124.0,15000000.0,1.040000e+07,...,William Wheeler,"['Walt Disney Pictures', 'ESPN Films', 'Cine M...",NaN,NaN,NaN,2016-09-23,Drama,PG,8874389,8874389
232,389,Moana,NaN,"['November 14, 2016 ( AFI Fest )', 'November 2...",107 minutes,['United States'],English,107.0,150000000.0,6.908000e+08,...,Jared Bush,"['Walt Disney Pictures', 'Walt Disney Animatio...",NaN,NaN,NaN,2016-11-23,Adventure,PG,246082029,246082029

In [6]:
df = df.drop_duplicates(subset='title', keep='first')
#df

In [7]:
# White spaces in column names should be replaced by _
df.rename(columns= {col: col.replace(" ","_").lower() for col in df.columns }, inplace=True)

<ipython-input-7-4bdcbbea1cf6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns= {col: col.replace(" ","_").lower() for col in df.columns }, inplace=True)

In [8]:
# Drop column :

columns_to_drop = [
    'unnamed:_0',
    'production_company'
    'running_time',
    'box_office',
    'language',
    'country',
    'release_date',
    'budget',
    'traditional',
    'simplified',
    'adaptation_by',
    'music_by',
    'cinematography',
    'production_company',
    'production_companies',
    'written_by',
    'running_time',
    'screenplay_by',
    'edited_by',
    'narrated_by',
    'story_by',
    'starring',
    'produced_by',
    'distributed_by',]

# Drop the specified columns
df = df.drop(columns=columns_to_drop, errors='ignore')

In [9]:
df.shape

(213, 14)

In [10]:
# cleanig the name of columns
df = df.rename(columns={
    'running_time_(int)': 'running_time',
    'budget_(float)': 'budget',
    'box_office_(float)': 'box_office',
    'release_date_(datetime)': 'release_date',
    'imdb': 'imdb',
    'metascore': 'metascore',
    'rotten_tomatoes': 'rotten_tomatoes',
    'directed_by': 'directed_by'})

In [11]:
# modify the format of the date create a column "year"

df['release_date'] = pd.to_datetime(df['release_date'])

# Extract the year from 'release_date' and create a new column 'year'
df['year'] = df['release_date'].dt.year

In [12]:
df = df.dropna(subset=['year','budget', 'box_office', 'imdb', 'metascore', 'rotten_tomatoes', 'genre'])

In [13]:
df.reset_index(drop=True, inplace=True)

In [15]:
# delete % sign
df['rotten_tomatoes'] = df['rotten_tomatoes'].str.replace('%', '')

In [16]:
#  convert float to integer
df["year"] = df["year"].astype(int)
df['budget'] = df['budget'].astype(int)
df['box_office'] = df['box_office'].astype(int)
df['metascore'] = df['metascore'].astype(int)
df['running_time'] = df['running_time'].astype(int)
df['rotten_tomatoes'] = df['rotten_tomatoes'].astype(int)

In [17]:
df.replace("N/A", np.nan, inplace=True)
df.replace("", np.nan, inplace=True)

In [18]:
df.isnull ().sum()

title                        0
running_time                 0
budget                       0
box_office                   0
release_date                 0
imdb                         0
metascore                    0
rotten_tomatoes              0
directed_by                  0
based_on                    72
genre                        0
mpaa_rating                 12
total_gross                  0
inflation_adjusted_gross     0
year                         0
dtype: int64

In [19]:
df_books = pd.DataFrame(df['based_on'])

# Extract book name and author
def extract_book_author(entry):
    if pd.isna(entry):
        return np.nan, np.nan

    try:
        # Try to parse as list
        parsed = ast.literal_eval(entry)
        if isinstance(parsed, list):
            # Flatten the list into a single string and then split by ' by '
            combined_entry = ' '.join(parsed)
            parts = combined_entry.split(' by ', 1)  # Split by ' by ', only at the first occurrence
            if len(parts) == 2:
                book_name = parts[0].replace('"', '').strip()
                author = parts[1].replace('"', '').strip()
                return book_name, author
            else:
                return combined_entry, np.nan
        else:
            return np.nan, np.nan
    except:
        # If entry is not in list format
        if ' by ' in entry:
            parts = entry.split(' by ', 1)  # Split by ' by ', only at the first occurrence
            book_name = parts[0].replace('"', '').strip()
            author = parts[1].replace('"', '').strip() if len(parts) > 1 else np.nan
            return book_name, author
        else:
            return entry, np.nan

# Apply the function to create new columns
df_books['book_name'], df_books['author'] = zip(*df_books['based_on'].apply(extract_book_author))

display(df_books[['based_on', 'book_name', 'author']])

,based_on,book_name,author
0,"['The Adventures of Pinocchio', 'by', 'Carlo C...",The Adventures of Pinocchio,Carlo Collodi
1,NaN,NaN,NaN
2,"['Uncle Remus', 'by', 'Joel Chandler Harris']",Uncle Remus,Joel Chandler Harris
3,"['Cinderella', 'by', 'Charles Perrault']",Cinderella,Charles Perrault
4,"[""Alice's Adventures in Wonderland"", 'and', 'T...",Alice's Adventures in Wonderland and Through t...,Lewis Carroll
...,...,...,...
155,"['Characters', 'by', 'Lewis Carroll']",Characters,Lewis Carroll
156,NaN,NaN,NaN
157,"['The BFG', 'by', 'Roald Dahl']",The BFG,Roald Dahl
158,"['The Queen of Katwe', 'by', 'Tim Crothers']",The Queen of Katwe,Tim Crothers
159,NaN,NaN,NaN

In [20]:
df['book_title'] = df_books['book_name']
df['book_writer'] = df_books['author']
df

,title,running_time,budget,box_office,release_date,imdb,metascore,rotten_tomatoes,directed_by,based_on,genre,mpaa_rating,total_gross,inflation_adjusted_gross,year,book_title,book_writer
0,Pinocchio,88,2600000,164000000,1940-02-07,7.4,99,100,"['Ben Sharpsteen', 'Hamilton Luske', 'Bill Rob...","['The Adventures of Pinocchio', 'by', 'Carlo C...",Adventure,G,84300000,2188229052,1940,The Adventures of Pinocchio,Carlo Collodi
1,Fantasia,126,2280000,83300000,1940-11-13,7.8,96,95,"['Samuel Armstrong', 'James Algar', 'Bill Robe...",NaN,Musical,G,83320000,2187090808,1940,NaN,NaN
2,Song of the South,94,2125000,65000000,1946-11-12,7.1,54,50,"['Live action:', 'Harve Foster', 'Animation:',...","['Uncle Remus', 'by', 'Joel Chandler Harris']",Adventure,G,65000000,1078510579,1946,Uncle Remus,Joel Chandler Harris
3,Cinderella,74,2900000,263600000,1950-02-15,6.9,67,84,"['Clyde Geronimi', 'Hamilton Luske', 'Wilfred ...","['Cinderella', 'by', 'Charles Perrault']",Drama,G,85000000,920608730,1950,Cinderella,Charles Perrault
4,Alice in Wonderland,75,3000000,5600000,1951-07-26,6.4,53,51,"['Clyde Geronimi', 'Wilfred Jackson', 'Hamilto...","[""Alice's Adventures in Wonderland"", 'and', 'T...",Adventure,PG,334191110,357063499,1951,Alice's Adventures in Wonderland and Through t...,Lewis Carroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Alice Through the Looking Glass,113,170000000,300000000,2016-05-10,6.2,34,29,James Bobin,"['Characters', 'by', 'Lewis Carroll']",Adventure,PG,77042381,77042381,2016,Characters,Lewis Carroll
156,Finding Dory,97,175000000,1029000000,2016-06-08,7.3,77,94,Andrew Stanton,NaN,Adventure,PG,486295561,486295561,2016,NaN,NaN
157,The BFG,117,140000000,195200000,2016-05-14,6.4,66,74,Steven Spielberg,"['The BFG', 'by', 'Roald Dahl']",Adventure,PG,55483770,55483770,2016,The BFG,Roald Dahl
158,Queen of Katwe,124,15000000,10400000,2016-09-10,7.4,73,93,Mira Nair,"['The Queen of Katwe', 'by', 'Tim Crothers']",Drama,PG,8874389,8874389,2016,The Queen of Katwe,Tim Crothers
159,Moana,107,150000000,690800000,2016-11-14,7.6,81,95,"['Ron Clements', 'John Musker']",NaN,Adventure,PG,246082029,246082029,2016,NaN,NaN

In [21]:
df.isnull().sum ()

title                        0
running_time                 0
budget                       0
box_office                   0
release_date                 0
imdb                         0
metascore                    0
rotten_tomatoes              0
directed_by                  0
based_on                    72
genre                        0
mpaa_rating                 12
total_gross                  0
inflation_adjusted_gross     0
year                         0
book_title                  72
book_writer                 87
dtype: int64

In [22]:
df['book_title'] = df['book_title'].fillna('Not based on books')
df['book_writer'] = df['book_writer'].fillna('Not found')
df['based_on'] = df['based_on'].fillna('Not based on books')
df.isnull().sum()

title                        0
running_time                 0
budget                       0
box_office                   0
release_date                 0
imdb                         0
metascore                    0
rotten_tomatoes              0
directed_by                  0
based_on                     0
genre                        0
mpaa_rating                 12
total_gross                  0
inflation_adjusted_gross     0
year                         0
book_title                   0
book_writer                  0
dtype: int64

In [23]:
df= df.drop(['mpaa_rating'], axis=1)
df= df.drop(['based_on'], axis=1)

In [24]:
df.directed_by.unique ()

array(["['Ben Sharpsteen', 'Hamilton Luske', 'Bill Roberts', 'Norman Ferguson', 'Jack Kinney', 'Wilfred Jackson', 'T. Hee']",
       "['Samuel Armstrong', 'James Algar', 'Bill Roberts', 'Paul Satterfield', 'Ben Sharpsteen', 'David D. Hand', 'Hamilton Luske', 'Jim Handley', 'Ford Beebe', 'T. Hee', 'Norman Ferguson', 'Wilfred Jackson']",
       "['Live action:', 'Harve Foster', 'Animation:', 'Wilfred Jackson']",
       "['Clyde Geronimi', 'Hamilton Luske', 'Wilfred Jackson']",
       "['Clyde Geronimi', 'Wilfred Jackson', 'Hamilton Luske']",
       'Richard Fleischer',
       "['Clyde Geronimi (supervising)', 'Eric Larson', 'Wolfgang Reitherman', 'Les Clark']",
       'Charles Barton', 'Jack Donohue', 'Wolfgang Reitherman',
       'Robert Stevenson', 'Gary Nelson',
       "['Wolfgang Reitherman', 'John Lounsbery', 'Art Stevens']",
       "['Ted Berman', 'Richard Rich', 'Art Stevens']", 'Tim Hunter',
       'Walter Murch', "['Ted Berman', 'Richard Rich']",
       "['Ron Clements', 'Burny Mattinson', 'Dave Michener', 'John Musker']",
       'Randal Kleiser', 'George Scribner', 'Joe Johnston',
       "['Gary Trousdale', 'Kirk Wise']", 'Stephen Herek',
       "['John Musker', 'Ron Clements']", 'Brian Henson',
       'Jon Turteltaub', 'Rupert Wainwright',
       "['Roger Allers', 'Rob Minkoff']", 'William Dear', 'John Pasquin',
       'James Orr', "['Mike Gabriel', 'Eric Goldberg']", 'Simon Wincer',
       'Michael Gottlieb', 'John Lasseter', 'Henry Selick',
       'David M. Evans', "['Ron Clements', 'John Musker']",
       'Les Mayfield', 'Stanley Tong', "['Barry Cook', 'Tony Bancroft']",
       'Ron Underwood', 'Donald Petrie', "['Kevin Lima', 'Chris Buck']",
       'David Kellogg', 'Jun Falkenstein',
       "['Ralph Zondag', 'Eric Leighton']", 'Kevin Lima', 'Mark Dindal',
       'Chuck Sheetz', 'Garry Marshall', 'Tim Hill', 'Pete Docter',
       'Brian Levant', 'John Lee Hancock',
       "['Chris Sanders', 'Dean DeBlois']", 'Peter Hastings',
       'Jay Russell', 'Michael Lembeck', 'Steve Trenbirth',
       'Francis Glebas', 'James Cameron', 'Andrew Davis', 'Jim Fall',
       'Andrew Stanton', "['Aaron Blaise', 'Robert Walker']",
       'Rob Minkoff', "Gavin O'Connor", 'Sara Sugarman',
       "['Will Finn', 'John Sanford']", 'Frank Coraci', 'Frank Nissen',
       'Adam Shankman', 'Tim Fywell', 'Angela Robinson', 'Mike Mitchell',
       'Gary Chapman', 'Bill Paxton', 'George Butler', 'Frank Marshall',
       'Steve "Spaz" Williams', 'Ericson Core', 'GÃ¡bor CsupÃ³',
       'Brad Bird', 'Frederik Du Chau', 'Andy Fickman', 'Roger Kumble',
       'Andrew Adamson', 'Raja Gosnell',
       "['Chris Williams', 'Byron Howard']",
       "['Alastair Fothergill', 'Mark Linfield']", 'Hoyt H. Yeatman Jr.',
       'Walt Becker',
       "['Jacques Perrin', 'Jacques Cluzaud', '(co-director)']",
       'Lee Unkrich', 'Randall Wallace',
       "['Nathan Greno', 'Byron Howard']", 'Joseph Kosinski',
       'Simon Wells', "['Alastair Fothergill', 'Keith Scholey']",
       'Joe Nussbaum', "['Stephen J. Anderson', 'Don Hall']",
       'James Bobin', "['Mark Andrews', 'Brenda Chapman']",
       'Peter Hedges', 'Tim Burton', 'Rich Moore', 'Sam Raimi',
       'Dan Scanlon', 'Gore Verbinski', "['Chris Buck', 'Jennifer Lee']",
       'Craig Gillespie', 'Robert Stromberg',
       "['Don Hall', 'Chris Williams']", 'Rob Marshall', 'Niki Caro',
       "['Mark Linfield', 'Alastair Fothergill']", 'Peter Sohn',
       "['Byron Howard', 'Rich Moore']", 'Steven Spielberg', 'Mira Nair'],
      dtype=object)

In [25]:
# Define regex pattern for special characters
special_characters_pattern = re.compile(r'[!@#$%^&*()_+{}|:"<>?~]')

# Check for special characters in a DataFrame
def check_dataframe_for_special_chars(df):
    for column in df.columns:
        df[column] = df[column].astype(str)  # Convert all columns to string for searching
        special_chars_found = df[column].apply(lambda x: bool(special_characters_pattern.search(x)))
        if special_chars_found.any():
            print(f"Special characters found in column '{column}'")
            print(df[special_chars_found][column])

# Check the DataFrame for special characters
check_dataframe_for_special_chars(df)

Special characters found in column 'title'
22                             Oliver & Company
61                         Recess: School's Out
62                    Atlantis: The Lost Empire
68                                Lilo & Stitch
85     The Princess Diaries 2: Royal Engagement
90                         Herbie: Fully Loaded
101       The Santa Clause 3: The Escape Clause
108    The Chronicles of Narnia: Prince Caspian
124                                Tron: Legacy
Name: title, dtype: object
Special characters found in column 'directed_by'
2      ['Live action:', 'Harve Foster', 'Animation:',...
7      ['Clyde Geronimi (supervising)', 'Eric Larson'...
97                                 Steve "Spaz" Williams
119    ['Jacques Perrin', 'Jacques Cluzaud', '(co-dir...
Name: directed_by, dtype: object
Special characters found in column 'book_title'
13          The Magic Bedknob & Bonfires and Broomsticks
93           The Greatest Game Ever Played: A True Story
125                                     Mars Needs Moms!
153    The Finest Hours: The True Story of the U.S. C...
Name: book_title, dtype: object
Special characters found in column 'book_writer'
48    Samuel W. Taylor The Absent-Minded Professor (...
Name: book_writer, dtype: object

In [26]:
# Replace special characters with an empty space
def replace_special_chars(text):
    return special_characters_pattern.sub(' ', text)

# Iterate over each column and apply the replacement function
for column in df.columns:
    df[column] = df[column].map(lambda x: replace_special_chars(str(x)) if isinstance(x, str) else x)

In [27]:
df

,title,running_time,budget,box_office,release_date,imdb,metascore,rotten_tomatoes,directed_by,genre,total_gross,inflation_adjusted_gross,year,book_title,book_writer
0,Pinocchio,88,2600000,164000000,1940-02-07,7.4,99,100,"['Ben Sharpsteen', 'Hamilton Luske', 'Bill Rob...",Adventure,84300000,2188229052,1940,The Adventures of Pinocchio,Carlo Collodi
1,Fantasia,126,2280000,83300000,1940-11-13,7.8,96,95,"['Samuel Armstrong', 'James Algar', 'Bill Robe...",Musical,83320000,2187090808,1940,Not based on books,Not found
2,Song of the South,94,2125000,65000000,1946-11-12,7.1,54,50,"['Live action ', 'Harve Foster', 'Animation ',...",Adventure,65000000,1078510579,1946,Uncle Remus,Joel Chandler Harris
3,Cinderella,74,2900000,263600000,1950-02-15,6.9,67,84,"['Clyde Geronimi', 'Hamilton Luske', 'Wilfred ...",Drama,85000000,920608730,1950,Cinderella,Charles Perrault
4,Alice in Wonderland,75,3000000,5600000,1951-07-26,6.4,53,51,"['Clyde Geronimi', 'Wilfred Jackson', 'Hamilto...",Adventure,334191110,357063499,1951,Alice's Adventures in Wonderland and Through t...,Lewis Carroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Alice Through the Looking Glass,113,170000000,300000000,2016-05-10,6.2,34,29,James Bobin,Adventure,77042381,77042381,2016,Characters,Lewis Carroll
156,Finding Dory,97,175000000,1029000000,2016-06-08,7.3,77,94,Andrew Stanton,Adventure,486295561,486295561,2016,Not based on books,Not found
157,The BFG,117,140000000,195200000,2016-05-14,6.4,66,74,Steven Spielberg,Adventure,55483770,55483770,2016,The BFG,Roald Dahl
158,Queen of Katwe,124,15000000,10400000,2016-09-10,7.4,73,93,Mira Nair,Drama,8874389,8874389,2016,The Queen of Katwe,Tim Crothers
159,Moana,107,150000000,690800000,2016-11-14,7.6,81,95,"['Ron Clements', 'John Musker']",Adventure,246082029,246082029,2016,Not based on books,Not found

In [28]:
# Extract 'title' and 'directed_by' columns
title_director_df = df[['title', 'directed_by']]

# Clean the 'directed_by' column by removing square brackets and quotes
title_director_df['directed_by'] = title_director_df['directed_by'].str.strip("[]").str.replace("'", "")

# Split the 'directed_by' column into separate rows
title_director_df = title_director_df.assign(director=title_director_df['directed_by'].str.split(", ")).explode('director')

# Remove whitespace around director names
title_director_df['director'] = title_director_df['director'].str.strip()

# Remove the original 'directed_by' column
title_director_df = title_director_df.drop(columns=['directed_by'])

<ipython-input-28-456820f47750>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_director_df['directed_by'] = title_director_df['directed_by'].str.strip("[]").str.replace("'", "")

In [29]:
df.dtypes

title                       object
running_time                object
budget                      object
box_office                  object
release_date                object
imdb                        object
metascore                   object
rotten_tomatoes             object
directed_by                 object
genre                       object
total_gross                 object
inflation_adjusted_gross    object
year                        object
book_title                  object
book_writer                 object
dtype: object

In [30]:
df = df.astype({
    "running_time": "int",
    "imdb": "float",
    "metascore": "int",
    "rotten_tomatoes": "int",
    'budget': 'float',
    'box_office': 'float',
    'release_date': 'datetime64[ns]',
    'total_gross': 'float'
})
df.dtypes

title                               object
running_time                         int64
budget                             float64
box_office                         float64
release_date                datetime64[ns]
imdb                               float64
metascore                            int64
rotten_tomatoes                      int64
directed_by                         object
genre                               object
total_gross                        float64
inflation_adjusted_gross            object
year                                object
book_title                          object
book_writer                         object
dtype: object

In [31]:
df = df.astype({'year': 'int'})

In [32]:
df.dtypes

title                               object
running_time                         int64
budget                             float64
box_office                         float64
release_date                datetime64[ns]
imdb                               float64
metascore                            int64
rotten_tomatoes                      int64
directed_by                         object
genre                               object
total_gross                        float64
inflation_adjusted_gross            object
year                                 int64
book_title                          object
book_writer                         object
dtype: object

In [33]:
title_director_df.dtypes

title       object
director    object
dtype: object

In [34]:
#Create a column id to export to sql
df['id'] = range(1, len(df) + 1)
df

,title,running_time,budget,box_office,release_date,imdb,metascore,rotten_tomatoes,directed_by,genre,total_gross,inflation_adjusted_gross,year,book_title,book_writer,id
0,Pinocchio,88,2600000.0,1.640000e+08,1940-02-07,7.4,99,100,"['Ben Sharpsteen', 'Hamilton Luske', 'Bill Rob...",Adventure,84300000.0,2188229052,1940,The Adventures of Pinocchio,Carlo Collodi,1
1,Fantasia,126,2280000.0,8.330000e+07,1940-11-13,7.8,96,95,"['Samuel Armstrong', 'James Algar', 'Bill Robe...",Musical,83320000.0,2187090808,1940,Not based on books,Not found,2
2,Song of the South,94,2125000.0,6.500000e+07,1946-11-12,7.1,54,50,"['Live action ', 'Harve Foster', 'Animation ',...",Adventure,65000000.0,1078510579,1946,Uncle Remus,Joel Chandler Harris,3
3,Cinderella,74,2900000.0,2.636000e+08,1950-02-15,6.9,67,84,"['Clyde Geronimi', 'Hamilton Luske', 'Wilfred ...",Drama,85000000.0,920608730,1950,Cinderella,Charles Perrault,4
4,Alice in Wonderland,75,3000000.0,5.600000e+06,1951-07-26,6.4,53,51,"['Clyde Geronimi', 'Wilfred Jackson', 'Hamilto...",Adventure,334191110.0,357063499,1951,Alice's Adventures in Wonderland and Through t...,Lewis Carroll,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Alice Through the Looking Glass,113,170000000.0,3.000000e+08,2016-05-10,6.2,34,29,James Bobin,Adventure,77042381.0,77042381,2016,Characters,Lewis Carroll,156
156,Finding Dory,97,175000000.0,1.029000e+09,2016-06-08,7.3,77,94,Andrew Stanton,Adventure,486295561.0,486295561,2016,Not based on books,Not found,157
157,The BFG,117,140000000.0,1.952000e+08,2016-05-14,6.4,66,74,Steven Spielberg,Adventure,55483770.0,55483770,2016,The BFG,Roald Dahl,158
158,Queen of Katwe,124,15000000.0,1.040000e+07,2016-09-10,7.4,73,93,Mira Nair,Drama,8874389.0,8874389,2016,The Queen of Katwe,Tim Crothers,159
159,Moana,107,150000000.0,6.908000e+08,2016-11-14,7.6,81,95,"['Ron Clements', 'John Musker']",Adventure,246082029.0,246082029,2016,Not based on books,Not found,160

In [39]:
df.dtypes

title                               object
running_time                         int64
budget                             float64
box_office                         float64
release_date                datetime64[ns]
imdb                               float64
metascore                            int64
rotten_tomatoes                      int64
directed_by                         object
genre                               object
total_gross                        float64
inflation_adjusted_gross            object
year                                 int64
book_title                          object
book_writer                         object
id                                   int64
dtype: object

In [35]:
#df.to_csv('disney_dataset.csv', index=False)

In [36]:
# Extract 'title' and 'directed_by' columns
title_director_df = df[['title', 'directed_by']]

# Clean the 'directed_by' column by removing square brackets and quotes
title_director_df['directed_by'] = title_director_df['directed_by'].str.strip("[]").str.replace("'", "")

# Split the 'directed_by' column into separate rows
title_director_df = title_director_df.assign(director=title_director_df['directed_by'].str.split(", ")).explode('director')

# Remove unnecessary whitespace around director names
title_director_df['director'] = title_director_df['director'].str.strip()

# Remove the original 'directed_by' column
title_director_df = title_director_df.drop(columns=['directed_by'])

<ipython-input-36-6dc56a45e845>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_director_df['directed_by'] = title_director_df['directed_by'].str.strip("[]").str.replace("'", "")

In [37]:
df_director = pd.read_csv("title_director_dataset.csv")

# Create a dictionary to map each unique title to a unique ID starting from 1
title_to_id = {title: idx + 1 for idx, title in enumerate(df_director['title'].unique())}

# Map the 'title' column to the newly created IDs
df_director['id'] = df_director['title'].map(title_to_id)

# CSV file
df_director.to_csv("title_director_with_id.csv", index=False)